/* Tooltips style override. */
.styles-module_tooltip__mnnfp {
  z-index: 1500000 !important;
  border-radius: 15px !important;
  padding: 20px !important;
  color: white !important;
  background-color: var(--bs-primary) !important;
  font-size: 1rem !important;
  user-select: none;
  text-wrap: wrap !important;
  width: 95% !important;
  max-width: 500px !important;
}

.grecaptcha-badge {
  visibility: hidden;
}

#root {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  /* Override toastify border radius. */
  --toastify-toast-bd-radius: var(--bs-border-radius);
}

.search-bar {
  transition: box-shadow 0.1s ease-in-out, width 0.2s ease-in-out;
  border-radius: 50px;
  width: 164px;
  text-overflow: clip;
  margin: 0 0.5rem 0 0.5rem;
  z-index: 1 !important;
  position: relative;
}

.search-bar:hover {
  box-shadow: rgba(32, 33, 36, 0.28) 0 1px 6px 0;
}

.search-bar:has(input:focus) {
  width: 100%;
}

.search-bar:has(input:not(:placeholder-shown)) {
  width: 100%;
}

/* Center search bar clear icon. */
.clear-icon {
  display: flex;
}

.logo {
  margin-right: 25px;
}

@media (max-width: 420px) {
  .new-product-btn-text {
      font-size: 0.7rem;
  }

  .logo {
      width: 90px;
      margin-right: 5px;
  }

  .search-bar {
      width: 100%;
      margin: 0;
      margin-bottom: 1rem;
      z-index: 999999;
  }
}